nav{
  background-color: rgb(85, 85, 85);
  border-radius: 15px;
}

nav>ul {
  display: flex;
  justify-content: center;

}

nav>ul>li {
  padding: 1% 5%;
  list-style-type: none;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-size: large;
}

.login{
  margin-top: 5%;
  text-align: center;
}

form > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
form > div >* {
  margin: 0.5rem 0;
}

